*{
	margin: 0;
}

.row-1{
	background-image: url(images/banner.webp);
	height: 500px;
	color: white;
	background-size: cover;
	background-position: center 89%;
	background

}

.row-1-1{
	display: flex;
}

.row-1 h1{
	text-align: center;
	
	font-size: 44px;
	font-weight: 70px;
	box-sizing: border-box;
}